<template >
  <q-pull-to-refresh 
    pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
    :handler="refresh">    
    <q-list sparse highlight no-border multiline class="f-bcw">
      <q-infinite-scroll ref="infiniteScroll" :handler="loadMore" > 
        <q-item separator v-for="(el, index) in $store.state.consultOut.consultOutList" :key="index" @click="select(el)">
          <q-item-main>
            <q-item-tile label>{{el.patientName}} {{el.patientSex | fSex}} {{el.patientAge}}</q-item-tile>
            <q-item-tile sublabel lines="2" class="f-mt10 f-mb5 f-pr10">
              服务医生：{{el.staffList|fStaffList}}
            </q-item-tile>
            <q-item-tile sublabel >
              <span><q-chip square>{{el.consultMode|fConsultMode}}</q-chip></span>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
            <q-item-tile label lines="1"><q-chip :color="el.consultStatus|fConsultColor" small>{{el.consultStatus|fConsultStatus}}</q-chip></q-item-tile>
            <q-item-tile stamp style="margin-top: 20px">{{el.reqDate}} {{el.reqTime}}</q-item-tile>
          </q-item-side>
        </q-item>
        <div slot="message" class="row justify-center" style="margin-bottom: 30px;">
          <q-spinner-dots color="primary" :size="20" />
        </div>
      </q-infinite-scroll>
    </q-list>
  </q-pull-to-refresh>
</template>
<style scoped>
</style>

<script>
  import $C from '../../plugins/$C';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        await this.$store.dispatch('consultOut/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      async refresh(done) {
        await this.$store.dispatch('consultOut/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.consultOut.consultOutList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('consultOut/loadMore', index);
        done();
      },
      async select(el) {
        this.$store.commit('consult/updateConsult', el);
        this.jump('/consultDetail?mode=0');
      },
    },
  };
</script>
