<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        影像诊断
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
      <q-pull-to-refresh
        pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
        :handler="refresh">
        <q-list highlight no-border multiline class="f-bcw">
          <q-infinite-scroll ref="infiniteScroll" :handler="loadMore" >
            <q-card  v-for="(el, index) in $store.state.radiologyIn.radiologyInList" :key="index" >
              <q-card-title>
                {{el.name}} ({{el.sex|fSex}} {{el.age}})
                <div slot="subtitle">{{el.examHospitalName}}</div>
                <div slot="right" >
                  <q-chip :color="el.examStatus|fRadiologyColor" small>{{el.examStatus|fExamStatus}}</q-chip>
                </div>
              </q-card-title>
              <q-card-main>
                <span><q-chip small>{{el.commonClass}}</q-chip></span>  {{el.examClass}}
                <span>{{el.examDate}}</span>
              </q-card-main>
              <q-card-separator />
              <q-card-main class="row justify-between items-center" @click="readImage(el)">
                <div>
                  {{el.examNo}}
                </div>
                <div>
                  <q-btn flat>阅片</q-btn>
                  <q-btn color="primary" @click.stop="report(el)" @click="getPatientInfo(index)">{{el.examStatus|fRadiologyMethod}}</q-btn>
                </div>
              </q-card-main>
            </q-card>
            <div slot="message" class="row justify-center" style="margin-bottom: 30px;">
              <q-spinner-dots color="primary" :size="20" />
            </div>
          </q-infinite-scroll>
        </q-list>
      </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>
</style>

<script>
  import $C from '../../plugins/$C';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async getPatientInfo(index) {
        this.$store.state.radiologyIn.patientInfo = this.$store.state.radiologyIn.radiologyInList[index];
        this.$router.push('/radiology/radiologyDetail');
      },
      async init() {
        await this.$store.dispatch('radiologyIn/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      async refresh(done) {
        await this.$store.dispatch('radiologyIn/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.radiologyIn.radiologyInList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('radiologyIn/loadMore', index);
        done();
      },
      async report(el) {
        await this.$store.dispatch('radiologyReport/replace', el.examNo);
        this.$store.commit('radiologyReport/updateDicomPath', el.dicomPath);
        this.jump('radiologyDetail');
      },
      async readImage(el) {
        await this.$store.dispatch('radiologyReport/replace', el.examNo);
        this.$store.commit('radiologyReport/updateDicomPath', el.dicomPath);
        this.jump('radiologyImage');
      },
    },
  };
</script>
