<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        科室医生
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
    <div class="f-bcw department-list row">
      <q-list highlight  multiline class="col-4">
          <q-item class="f-pt20 f-pb20" separator v-for="(el, index) in $store.state.referralDepartment.departmentList" :key="index" @click="selectDepartment(el, index)">
            <q-item-main>
              <q-item-tile label :class="{'text-primary': index === selected}">{{el.name}}</q-item-tile>
            </q-item-main>
          </q-item>
      </q-list>
      <div class="col-8 f-pl20 f-bcdark">
        <q-list highlight no-border multiline >
          <q-item class="f-pt20 f-pb20" separator v-for="(el, index) in $store.state.referralDepartment.doctorList" :key="index" @click="selectDoctor(el)">
            <q-item-main>
              <q-item-tile label >{{el.name}}</q-item-tile>
            </q-item-main>
          </q-item>
      </q-list>
      </div>
      
    </div>
  </q-layout>
</template>
<style scoped>
  .search{
    background-color: white;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 5px 10px;
  }
  .department-list {
    min-height: calc(100vh - 50px);
  }
</style>
<script>
  export default{
    data() {
      return {
        selected: 0,
      };
    },
    async mounted() {
      await this.init();
      if (this.$store.state.referralDepartment.departmentList.length > 0) {
        await this.selectDepartment(this.$store.state.referralDepartment.departmentList[0], 0);
      }
    },
    methods: {
      async init() {
        const user = this.ensureLogin();
        if (user) {
          await this.$store.dispatch('referralDepartment/refresh');
        }
      },
      async selectDepartment(el, index) {
        this.selected = index;
        this.$store.commit('referral/updateReferralHospital', {
          areaCode: this.$store.state.referral.hospital.receiveArea,
          hospitalId: this.$store.state.referral.hospital.receiveHospital,
          name: this.$store.state.referral.hospital.receiveHospitalName,
          deptId: el.deptId,
          deptName: el.name,
        });
        await this.$store.dispatch('referralDepartment/selectDepartment', el.deptId);
      },
      async selectDoctor(el) {
        this.$store.commit('referral/updateReferralDoctor', el);
        this.$store.commit('referralDepartment/updateSelectedDoctor', el);
        this.jump('/chooseAppointment');
      },
    },
  };
</script>


