<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        机构列表
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
    <div class="search">
      <q-search autofocus class="col-sm-8"  v-model="searchText"  placeholder="搜索" @blur="search" @keyup="search"/>
    </div>
    <q-pull-to-refresh 
      pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
      class="hospital-list" :handler="refresh">   
      <q-list highlight no-border multiline>
        <q-infinite-scroll 
          ref="infiniteScroll" :handler="loadMore" > 
          <q-item class="f-bcw" inline-sperator v-for="(el, index) in $store.state.hospital.hospitalList" :key="index" @click="selecthospital(el)">
            <q-item-side >
              <q-item-tile icon="icon-hospital" class="iconfont" color="blue-5" size="36px"/>
            </q-item-side>
            <q-item-main>
              <q-item-tile label>{{el.name}}</q-item-tile>
              <q-item-tile sublabel></q-item-tile>
              <q-item-tile sublabel>{{el.alias}}</q-item-tile>
              <q-item-tile sublabel>地址: {{el.areaCode}}</q-item-tile>
            </q-item-main>
            <q-item-side right>
              {{el.hospitalLevel|fHospitalLevel}}
            </q-item-side>
          </q-item>
        </q-infinite-scroll>
      </q-list>
    </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>
  .search{
    background-color: white;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 5px 10px;
  }
  .hospital-list {
    margin-top: 50px;
  }
</style>
<script>
  import $C from '../plugins/$C';
  export default{
    data() {
      return {
        searchText: '',
        eventType: '0',
      };
    },
    mounted() {
      if (this.$route.query.eventType) {
        this.eventType = this.$route.query.eventType;
      }
      this.init();
    },
    methods: {
      async init() {
        const user = this.ensureLogin();
        if (user) {
          await this.$store.dispatch('hospital/refresh');
          this.$refs.infiniteScroll.reset();
          this.$refs.infiniteScroll.resume();
        }
      },
      async refresh(done) {
        await this.$store.dispatch('hospital/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.hospital.hospitalList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('hospital/loadMore', index);
        done();
      },
      async search() {
        await this.$store.dispatch('hospital/search', this.searchText);
        await this.$store.dispatch('hospital/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      selecthospital(el) {
        this.$store.commit('referral/updateReferralHospital', el);
        this.$store.commit('referralDepartment/cleanDepartmentList');
        this.$store.commit('referralDepartment/cleanDoctorList');
        this.$store.commit('referral/resetReferralDoctor');
        this.$store.commit('referral/resetReferralSchedule');
        this.jump('/chooseDepartment');
      },
    },
  };
</script>


