<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        会诊报告
      </q-toolbar-title>
      <span @click="submit()">保存</span>
    </q-toolbar>
    <q-list no-border>
      <q-list-header class="f-bcw test">基本信息</q-list-header>
      <q-item class="f-bcw">
        <!-- <q-item-side>姓名</q-item-side> -->
        <q-item-side>患者</q-item-side>
        <q-item-main>
          <q-item-tile label>
              {{$store.state.consult.patient.name}} 
              {{$store.state.consult.patient.sex|fSex}}
              {{$store.state.consult.patient.age}}
           </q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>会诊专家</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.staffList|fStaffList}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>会诊时间</q-item-side>
        <q-item-main>
          <q-item-tile label>
            {{$store.state.consult.consultDetail.scheduleDate}}
            {{$store.state.consult.consultDetail.scheduleTime}}
          </q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw test">会诊目的</q-list-header>
      <q-item class="f-bcw">
        <q-item-main>
          <q-input v-model="consultPurpose" type="textarea" placeholder="请输入会诊目的" :min-rows="4"/>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw test">会诊意见</q-list-header>
      <q-item class="f-bcw">
        <q-item-main>
          <q-input v-model="consultAdvice" type="textarea" placeholder="请输入会诊意见" :min-rows="6"/>
        </q-item-main>
      </q-item>
    </q-list>
  </q-layout>
</template>
<style scoped>
  .test{
      color: #000000;
      font-weight: bolder;
  }
  .status-chip{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }
</style>
<script>
  import { Toast } from 'quasar-framework';
  export default{
    data() {
      return {
        mode: 0,
      };
    },
    computed: {
      consultPurpose: {
        get() {
          return this.$store.state.consult.consultDetail.consultPurpose;
        },
        set(consultPurpose) {
          this.$store.commit('consult/updateConsultPurpose', consultPurpose);
        },
      },
      consultAdvice: {
        get() {
          return this.$store.state.consult.consultDetail.diseaseSummary;
        },
        set(consultAdvice) {
          this.$store.commit('consult/updateDiseaseSummary', consultAdvice);
        },
      },
    },
    methods: {
      async submit() {
        try {
          await this.$store.dispatch('consult/submit');
          Toast.create({
            html: '保存成功',
            icon: 'success',
            timeout: 2000,
          });
          this.back();
        } catch (e) {
          Toast.create({
            html: e.message,
            icon: 'error',
            timeout: 2000,
          });
        }
      },
    },
  };
</script>
