<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar color="primary">
      <q-toolbar-title vertical-middle style="text-align: center">
        睿图医联体
      </q-toolbar-title>
    </q-toolbar>
    <div class="row justify-center f-bcw login-page">
      <div class="col-sm-8 md-gutter">
        <div class="login-title"></div>
        <q-field
          icon="perm identity"
          :labelWidth="2"
          :error="$v.username.$error"
          error-label="用户名不能为空"
        >
          <q-input color="blue-5" float-label="用户名" v-model="username" @blur="$v.username.$touch" autofocus/>
        </q-field>
        <q-field
          
          icon="lock"
          :labelWidth="2"
          :error="$v.password.$error"
          error-label="密码不能为空"
        >
          <q-input color="blue-5" float-label="密码" v-model="password" type="password" @blur="$v.password.$touch"/>
        </q-field>
        <q-field><q-btn class="login-button"  color="blue-5" outline @click="login">登陆</q-btn></q-field>
      </div>
    </div>
  </q-layout>
</template>
<style scoped>
  .login-page{
    height: calc(100vh -50px);
  }
  .notice {
    margin-top: 8px;
  }
  .weizhi{
    text-align: center;
  }
  .font{
    font-size: 24px;
  }
  .info{
    float: right;
    margin-right: 10px;
    margin-top: 8px;
  }
  .login-button {
    margin-left: 10%;
    width: 80%;
  }
</style>
<script>
  import $C from '../plugins/$C';
  import { required } from 'vuelidate/lib/validators';
  export default{
    data() {
      return {
        username: '',
        password: '',
      };
    },
    validations: {
      username: { required },
      password: { required },
    },
    mounted() {
      const user = this.checkLogin();
      if (user) {
        this.back();
      }
    },
    methods: {
      async login() {
        if (!this.$v.$dirty) {
          this.$v.$touch();
          return;
        }
        const res = await this.prePOST($C.medSys + 'common/getToken', {
          loginName: this.username,
          password: this.password,
        });
        if (res) {
          const user = res[0].userVO;
          user.token = res[0].token;
          this.persistUser(user);
          this.back();
        }
      },
    },
  };
</script>
