<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        公告
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
    <q-pull-to-refresh 
        pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
        :handler="refresh" >    
      <q-list no-border highlight class="f-bcw">
        <q-infinite-scroll ref="infiniteScroll" :handler="loadMore" > 
          <q-item v-for="(el, index) in $store.state.notice.noticeList" :key="index" >
            <q-item-side >
              <q-item-tile icon="description" color="yellow-9" size="36px"/>
            </q-item-side>
            <q-item-main>
              <q-item-tile label>{{el.articleTitle}}</q-item-tile>
              <q-item-tile sublabel>{{el.releaseDate}}</q-item-tile>
            </q-item-main>
          </q-item>
          <div slot="message" class="row justify-center" style="margin-bottom: 30px;">
              <q-spinner-dots color="primary" :size="20" />
            </div>
        </q-infinite-scroll>
      </q-list>
    </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>

</style>
<script>
  import $C from '../plugins/$C';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        await this.$store.dispatch('notice/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      async refresh(done) {
        await this.$store.dispatch('notice/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.notice.noticeList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('notice/loadMore', index);
        done();
      },
    },
  };
</script>

