<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        转诊申请
      </q-toolbar-title>
      <span @click="submit()">提交</span>
    </q-toolbar>
    <q-list no-border>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side>选择患者</q-item-side>
        <q-item-main class="row justify-end" @click="selectPatient()">
          <q-item-tile >{{!!$store.state.referral.patient.sickId?$store.state.referral.patient.name:'请选择患者(必选)'}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side>转诊类型</q-item-side>
        <q-item-main class="row justify-end" @click="selectReferralType()">
          <q-item-tile >{{$store.state.referral.referralDetail.referType|fReferType}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side>转入机构</q-item-side>
        <q-item-main class="row justify-end" @click="selectHospital()">
          <q-item-tile >{{!!$store.state.referral.hospital.receiveHospital?$store.state.referral.hospital.receiveHospitalName:'请选择转入机构(必选)'}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15" @click="selectHospital()">
        <q-item-side>接收医生</q-item-side>
        <q-item-main class="row justify-end">
          <q-item-tile >{{!!$store.state.referral.hospital.receiveHospital?$store.state.referral.doctor.receiveDoctorName:'请先选择转入机构(必选)'}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15" @click="selectSchedule()">
        <q-item-side>预约时间</q-item-side>
        <q-item-main class="row justify-end">
          <q-item-tile >{{!!$store.state.referral.hospital.receiveHospital?$store.state.referral.schedule.scheduleDate+'  '+$store.state.referral.schedule.scheduleTime:'请先选择转入机构(必选)'}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-list-header class="f-mt10 f-bcw">初步诊断</q-list-header>
      <q-item class="row f-bcw">
        <textarea name="" class="input-textarea" placeholder="请输入初步诊断" rows="3" v-model="referDemand"></textarea>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">转诊原因</q-list-header>
      <q-item class="row f-bcw">
        <textarea name="" class="input-textarea" placeholder="请输入转诊原因" rows="3" v-model="referReason"></textarea>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">病情描述</q-list-header>
      <q-item class="row f-bcw">
        <textarea name="" class="input-textarea" placeholder="请输入病情描述" rows="3" v-model="patientSummary"></textarea>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">附件</q-list-header>
      <q-item class="f-bcw">
        <q-item-side>图片资料</q-item-side>
        <q-item-main>
          <q-item-tile label></q-item-tile>
        </q-item-main>
      </q-item>
    </q-list>
  </q-layout>
</template>
<style scoped>
   .input-textarea{
  border: 0;
  outline: 0;
  padding: 0;
  overflow: hidden;
  resize: none;
  color: black;
  height: 60px;
  width: 100%;
 }
</style>
<script>
  import { Dialog, Toast } from 'quasar-framework';
  export default{
    data() {
      return {
        select: '1',
      };
    },
    computed: {
      referDemand: {
        get() {
          return this.$store.state.referral.referralDetail.referDemand;
        },
        set(referDemand) {
          this.$store.commit('referral/updateReferDemand', referDemand);
        },
      },
      referReason: {
        get() {
          return this.$store.state.referral.referralDetail.referReason;
        },
        set(referReason) {
          this.$store.commit('referral/updateReferReason', referReason);
        },
      },
      patientSummary: {
        get() {
          return this.$store.state.referral.referralDetail.patientSummary;
        },
        set(patientSummary) {
          this.$store.commit('referral/updatePatientSummary', patientSummary);
        },
      },
    },
    mounted() {
    },
    methods: {
      selectReferralType() {
        const that = this;
        Dialog.create({
          title: '',
          message: ' ',
          form: {
            option: {
              type: 'radio',
              model: this.$store.state.referral.referralDetail.referType,
              items: [
                { label: '转门诊', value: 1 },
                { label: '转检查', value: 2 },
                { label: '转住院', value: 3 },
                { label: '转康复', value: 4 },
              ],
            },
          },
          buttons: [
            '取消',
            {
              label: '确定',
              async handler(data) {
                await that.$store.dispatch('referral/changeType', data.option);
              },
            },
          ],
        });
      },
      selectPatient() {
        this.jump('/choosePatient?eventType=0');
      },
      selectHospital() {
        this.jump('/chooseHospital?eventType=0');
      },
      selectSchedule() {
        if (this.$store.state.referral.hospital.receiveHospital) {
          this.jump('/chooseAppointment?from=referralRequest');
        } else {
          this.jump('/chooseHospital?eventType=0');
        }
      },
      async submit() {
        if (this.$store.state.referral.patient.name !== '' &&
          this.$store.state.referral.hospital.receiveHospitalName !== '' &&
          this.$store.state.referral.doctor.receiveDoctorName !== '' &&
          this.$store.state.referral.schedule.scheduleDate !== '' &&
          this.$store.state.referral.schedule.scheduleTime !== '') {
          try {
            await this.$store.dispatch('referral/submit');
            Toast.create({
              html: '提交成功',
              icon: 'success',
              timeout: 2000,
            });
            this.back();
          } catch (e) {
            Toast.create({
              html: e.message,
              icon: 'error',
              timeout: 2000,
            });
          }
        } else {
          Toast.create({
            html: '提交失败，请补充数据',
            icon: 'success',
            timeout: 2000,
          });
        }
      },
    },
  };
</script>
